openapi: 3.1.0
info:
  title: K2 Trading Platform API
  description: |
    K2 provides a unified trading interface for crypto (via Crypto.com) and
    event contracts (via Kalshi). This is a non-custodial platform - users
    link their existing exchange accounts.
  version: 1.0.0
  contact:
    name: K2 API Support
    email: api@k2.app

servers:
  - url: https://api.k2.app/v1
    description: Production
  - url: https://api.staging.k2.app/v1
    description: Staging
  - url: http://localhost:3000/v1
    description: Local development

tags:
  - name: Auth
    description: Authentication and account management
  - name: Exchange Links
    description: Connect external exchange accounts
  - name: Portfolio
    description: Aggregated portfolio data
  - name: Orders
    description: Order management
  - name: Markets
    description: Market data and instruments
  - name: Events
    description: Event contracts (prediction markets)
  - name: Watchlist
    description: User watchlists
  - name: Alerts
    description: Price and event alerts

paths:
  # ============================================
  # AUTH
  # ============================================
  /auth/register:
    post:
      tags: [Auth]
      summary: Register new account
      operationId: register
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  minLength: 8
      responses:
        '201':
          description: Account created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          description: Email already exists

  /auth/login:
    post:
      tags: [Auth]
      summary: Login with email/password
      operationId: login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                totp_code:
                  type: string
                  description: Required if 2FA enabled
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          description: Invalid credentials
        '403':
          description: 2FA required
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        example: 2FA_REQUIRED

  /auth/refresh:
    post:
      tags: [Auth]
      summary: Refresh access token
      operationId: refreshToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refresh_token]
              properties:
                refresh_token:
                  type: string
      responses:
        '200':
          description: Token refreshed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'

  /auth/logout:
    post:
      tags: [Auth]
      summary: Logout and invalidate session
      operationId: logout
      security:
        - bearerAuth: []
      responses:
        '204':
          description: Logged out

  /auth/2fa/enable:
    post:
      tags: [Auth]
      summary: Enable TOTP 2FA
      operationId: enable2FA
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 2FA setup initiated
          content:
            application/json:
              schema:
                type: object
                properties:
                  secret:
                    type: string
                    description: TOTP secret (show as QR code)
                  qr_code_url:
                    type: string
                    description: URL for QR code image

  /auth/2fa/verify:
    post:
      tags: [Auth]
      summary: Verify and complete 2FA setup
      operationId: verify2FA
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code:
                  type: string
                  pattern: '^\d{6}$'
      responses:
        '200':
          description: 2FA enabled
        '400':
          description: Invalid code

  # ============================================
  # EXCHANGE LINKS
  # ============================================
  /links:
    get:
      tags: [Exchange Links]
      summary: List linked exchanges
      operationId: getLinks
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Linked exchanges
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ExchangeLink'

  /links/cryptocom/initiate:
    get:
      tags: [Exchange Links]
      summary: Start Crypto.com OAuth flow
      operationId: initiateCryptoComLink
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OAuth URL
          content:
            application/json:
              schema:
                type: object
                properties:
                  oauth_url:
                    type: string
                    format: uri
                  state:
                    type: string

  /links/cryptocom/callback:
    get:
      tags: [Exchange Links]
      summary: Complete Crypto.com OAuth
      operationId: completeCryptoComLink
      security:
        - bearerAuth: []
      parameters:
        - name: code
          in: query
          required: true
          schema:
            type: string
        - name: state
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Link successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeLink'

  /links/kalshi/initiate:
    get:
      tags: [Exchange Links]
      summary: Start Kalshi OAuth flow
      operationId: initiateKalshiLink
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OAuth URL
          content:
            application/json:
              schema:
                type: object
                properties:
                  oauth_url:
                    type: string
                    format: uri
                  state:
                    type: string

  /links/{exchange}:
    delete:
      tags: [Exchange Links]
      summary: Unlink exchange
      operationId: unlinkExchange
      security:
        - bearerAuth: []
      parameters:
        - name: exchange
          in: path
          required: true
          schema:
            type: string
            enum: [cryptocom, kalshi]
      responses:
        '204':
          description: Unlinked

  # ============================================
  # PORTFOLIO
  # ============================================
  /portfolio/summary:
    get:
      tags: [Portfolio]
      summary: Get portfolio summary
      operationId: getPortfolioSummary
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Portfolio summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortfolioSummary'

  /portfolio/balances:
    get:
      tags: [Portfolio]
      summary: Get balances by exchange
      operationId: getBalances
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Balances
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Balance'

  /portfolio/positions:
    get:
      tags: [Portfolio]
      summary: Get all positions
      operationId: getPositions
      security:
        - bearerAuth: []
      parameters:
        - name: type
          in: query
          schema:
            type: string
            enum: [crypto, event, all]
            default: all
      responses:
        '200':
          description: Positions
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Position'

  /portfolio/performance:
    get:
      tags: [Portfolio]
      summary: Get portfolio performance history
      operationId: getPerformance
      security:
        - bearerAuth: []
      parameters:
        - name: period
          in: query
          schema:
            type: string
            enum: [1D, 1W, 1M, 3M, 1Y, ALL]
            default: 1M
      responses:
        '200':
          description: Performance data
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        timestamp:
                          type: string
                          format: date-time
                        value:
                          type: string

  # ============================================
  # ORDERS
  # ============================================
  /orders:
    post:
      tags: [Orders]
      summary: Submit new order
      operationId: createOrder
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderRequest'
      responses:
        '201':
          description: Order created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          description: Risk check failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiskCheckError'

    get:
      tags: [Orders]
      summary: List orders
      operationId: listOrders
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [open, filled, cancelled, all]
            default: all
        - name: exchange
          in: query
          schema:
            type: string
            enum: [cryptocom, kalshi]
        - name: instrument
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 100
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Orders
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Order'
                  cursor:
                    type: string

  /orders/{order_id}:
    get:
      tags: [Orders]
      summary: Get order details
      operationId: getOrder
      security:
        - bearerAuth: []
      parameters:
        - name: order_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Order details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '404':
          description: Order not found

    delete:
      tags: [Orders]
      summary: Cancel order
      operationId: cancelOrder
      security:
        - bearerAuth: []
      parameters:
        - name: order_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Order cancelled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400':
          description: Cannot cancel (already filled/cancelled)

  /orders/{order_id}/executions:
    get:
      tags: [Orders]
      summary: Get order executions/fills
      operationId: getOrderExecutions
      security:
        - bearerAuth: []
      parameters:
        - name: order_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Executions
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Execution'

  /trades:
    get:
      tags: [Orders]
      summary: Get trade history
      operationId: getTrades
      security:
        - bearerAuth: []
      parameters:
        - name: start_date
          in: query
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          schema:
            type: string
            format: date
        - name: instrument
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Trades
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Trade'

  # ============================================
  # MARKETS
  # ============================================
  /markets/crypto:
    get:
      tags: [Markets]
      summary: List crypto markets
      operationId: getCryptoMarkets
      parameters:
        - name: search
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Crypto markets
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CryptoMarket'

  /markets/crypto/{instrument}:
    get:
      tags: [Markets]
      summary: Get crypto market details
      operationId: getCryptoMarket
      parameters:
        - name: instrument
          in: path
          required: true
          schema:
            type: string
            example: BTC-USD
      responses:
        '200':
          description: Market details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CryptoMarket'

  /markets/crypto/{instrument}/candles:
    get:
      tags: [Markets]
      summary: Get OHLCV data
      operationId: getCryptoCandles
      parameters:
        - name: instrument
          in: path
          required: true
          schema:
            type: string
        - name: interval
          in: query
          required: true
          schema:
            type: string
            enum: [1m, 5m, 15m, 1h, 4h, 1d]
        - name: start
          in: query
          schema:
            type: string
            format: date-time
        - name: end
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Candles
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Candle'

  /markets/crypto/{instrument}/orderbook:
    get:
      tags: [Markets]
      summary: Get order book snapshot
      operationId: getOrderBook
      parameters:
        - name: instrument
          in: path
          required: true
          schema:
            type: string
        - name: depth
          in: query
          schema:
            type: integer
            default: 10
            maximum: 50
      responses:
        '200':
          description: Order book
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderBook'

  # ============================================
  # EVENTS
  # ============================================
  /events:
    get:
      tags: [Events]
      summary: List event markets
      operationId: getEvents
      parameters:
        - name: category
          in: query
          schema:
            type: string
            enum: [economics, politics, crypto, weather, finance, entertainment]
        - name: status
          in: query
          schema:
            type: string
            enum: [open, closed, settled]
            default: open
        - name: search
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Events
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Event'

  /events/{ticker}:
    get:
      tags: [Events]
      summary: Get event details
      operationId: getEvent
      parameters:
        - name: ticker
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Event details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'

  /events/categories:
    get:
      tags: [Events]
      summary: List event categories
      operationId: getEventCategories
      responses:
        '200':
          description: Categories
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        count:
                          type: integer

  # ============================================
  # WATCHLIST
  # ============================================
  /watchlist:
    get:
      tags: [Watchlist]
      summary: Get user watchlist
      operationId: getWatchlist
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Watchlist
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/WatchlistItem'

    post:
      tags: [Watchlist]
      summary: Add to watchlist
      operationId: addToWatchlist
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [instrument, type]
              properties:
                instrument:
                  type: string
                type:
                  type: string
                  enum: [crypto, event]
      responses:
        '201':
          description: Added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WatchlistItem'

  /watchlist/{item_id}:
    delete:
      tags: [Watchlist]
      summary: Remove from watchlist
      operationId: removeFromWatchlist
      security:
        - bearerAuth: []
      parameters:
        - name: item_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Removed

  # ============================================
  # ALERTS
  # ============================================
  /alerts:
    get:
      tags: [Alerts]
      summary: List alerts
      operationId: getAlerts
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Alerts
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Alert'

    post:
      tags: [Alerts]
      summary: Create alert
      operationId: createAlert
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlertRequest'
      responses:
        '201':
          description: Alert created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alert'

  /alerts/{alert_id}:
    delete:
      tags: [Alerts]
      summary: Delete alert
      operationId: deleteAlert
      security:
        - bearerAuth: []
      parameters:
        - name: alert_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Deleted

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  schemas:
    # ============================================
    # AUTH
    # ============================================
    AuthResponse:
      type: object
      properties:
        access_token:
          type: string
        refresh_token:
          type: string
        expires_in:
          type: integer
          description: Seconds until access_token expires
        user:
          $ref: '#/components/schemas/User'

    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        created_at:
          type: string
          format: date-time
        email_verified:
          type: boolean
        totp_enabled:
          type: boolean

    # ============================================
    # EXCHANGE LINKS
    # ============================================
    ExchangeLink:
      type: object
      properties:
        id:
          type: string
          format: uuid
        exchange:
          type: string
          enum: [cryptocom, kalshi]
        status:
          type: string
          enum: [active, expired, revoked]
        linked_at:
          type: string
          format: date-time
        exchange_user_id:
          type: string

    # ============================================
    # PORTFOLIO
    # ============================================
    PortfolioSummary:
      type: object
      properties:
        total_value:
          type: string
          description: Total USD value
        total_change_24h:
          type: string
        total_change_24h_percent:
          type: string
        crypto_value:
          type: string
        event_value:
          type: string
        cash_value:
          type: string

    Balance:
      type: object
      properties:
        exchange:
          type: string
        currency:
          type: string
        available:
          type: string
        held:
          type: string
        total:
          type: string

    Position:
      type: object
      properties:
        id:
          type: string
          format: uuid
        exchange:
          type: string
        instrument:
          type: string
        type:
          type: string
          enum: [crypto, event]
        quantity:
          type: string
        avg_cost:
          type: string
        current_price:
          type: string
        market_value:
          type: string
        unrealized_pnl:
          type: string
        unrealized_pnl_percent:
          type: string
        # For events
        side:
          type: string
          enum: [yes, no]
          description: Only for event positions

    # ============================================
    # ORDERS
    # ============================================
    OrderRequest:
      type: object
      required: [client_order_id, instrument, side, order_type, quantity]
      properties:
        client_order_id:
          type: string
          format: uuid
          description: Client-generated idempotency key
        instrument:
          type: string
          description: "Crypto: BTC-USD, Event: KXBTC-24DEC31-B100000"
        side:
          type: string
          enum: [buy, sell]
        order_type:
          type: string
          enum: [market, limit]
        quantity:
          type: string
          description: Amount to trade
        price:
          type: string
          description: Required for limit orders
        time_in_force:
          type: string
          enum: [GTC, IOC, FOK]
          default: GTC
        # For events
        event_side:
          type: string
          enum: [yes, no]
          description: Required for event contracts

    Order:
      type: object
      properties:
        id:
          type: string
          format: uuid
        client_order_id:
          type: string
        exchange:
          type: string
        exchange_order_id:
          type: string
        instrument:
          type: string
        instrument_type:
          type: string
          enum: [crypto, event]
        side:
          type: string
          enum: [buy, sell]
        order_type:
          type: string
        quantity:
          type: string
        price:
          type: string
        status:
          type: string
          enum: [pending, submitted, open, partial, filled, cancelled, rejected]
        filled_quantity:
          type: string
        avg_fill_price:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        error_message:
          type: string

    Execution:
      type: object
      properties:
        id:
          type: string
          format: uuid
        order_id:
          type: string
          format: uuid
        quantity:
          type: string
        price:
          type: string
        fee:
          type: string
        fee_currency:
          type: string
        executed_at:
          type: string
          format: date-time

    Trade:
      type: object
      properties:
        id:
          type: string
          format: uuid
        order_id:
          type: string
          format: uuid
        exchange:
          type: string
        instrument:
          type: string
        side:
          type: string
        quantity:
          type: string
        price:
          type: string
        notional:
          type: string
        fee:
          type: string
        realized_pnl:
          type: string
        executed_at:
          type: string
          format: date-time

    RiskCheckError:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              enum: [INSUFFICIENT_BALANCE, MAX_ORDER_EXCEEDED, VELOCITY_LIMIT, FAT_FINGER]
            message:
              type: string
            details:
              type: object
              additionalProperties: true

    # ============================================
    # MARKETS
    # ============================================
    CryptoMarket:
      type: object
      properties:
        instrument:
          type: string
        base_currency:
          type: string
        quote_currency:
          type: string
        price:
          type: string
        change_24h:
          type: string
        change_24h_percent:
          type: string
        high_24h:
          type: string
        low_24h:
          type: string
        volume_24h:
          type: string
        market_cap:
          type: string

    Candle:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
        open:
          type: string
        high:
          type: string
        low:
          type: string
        close:
          type: string
        volume:
          type: string

    OrderBook:
      type: object
      properties:
        instrument:
          type: string
        bids:
          type: array
          items:
            type: array
            items:
              type: string
            minItems: 2
            maxItems: 2
            description: "[price, quantity]"
        asks:
          type: array
          items:
            type: array
            items:
              type: string
            minItems: 2
            maxItems: 2
        timestamp:
          type: string
          format: date-time

    # ============================================
    # EVENTS
    # ============================================
    Event:
      type: object
      properties:
        ticker:
          type: string
        title:
          type: string
        description:
          type: string
        category:
          type: string
        status:
          type: string
          enum: [open, closed, settled]
        yes_price:
          type: string
          description: Price in cents (0-100)
        no_price:
          type: string
        yes_change_24h:
          type: string
        volume_24h:
          type: string
        open_interest:
          type: string
        expires_at:
          type: string
          format: date-time
        settlement_source:
          type: string
        rules_url:
          type: string
          format: uri
        outcome:
          type: string
          enum: [yes, no]
          description: Only present if settled

    # ============================================
    # WATCHLIST
    # ============================================
    WatchlistItem:
      type: object
      properties:
        id:
          type: string
          format: uuid
        instrument:
          type: string
        type:
          type: string
          enum: [crypto, event]
        added_at:
          type: string
          format: date-time
        # Includes current price data
        current_price:
          type: string
        change_24h:
          type: string

    # ============================================
    # ALERTS
    # ============================================
    AlertRequest:
      type: object
      required: [instrument, type, condition, target_price]
      properties:
        instrument:
          type: string
        type:
          type: string
          enum: [crypto, event]
        condition:
          type: string
          enum: [above, below]
        target_price:
          type: string

    Alert:
      type: object
      properties:
        id:
          type: string
          format: uuid
        instrument:
          type: string
        type:
          type: string
        condition:
          type: string
        target_price:
          type: string
        status:
          type: string
          enum: [active, triggered, cancelled]
        created_at:
          type: string
          format: date-time
        triggered_at:
          type: string
          format: date-time

    # ============================================
    # COMMON
    # ============================================
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: object
        meta:
          type: object
          properties:
            request_id:
              type: string
            timestamp:
              type: string
              format: date-time
